<!DOCTYPE html>
<html>
<head>
<title>Battle Galactica</title>
</head>
  <body>
  <h1>START NEW BATTLE</h1>
  <h2>Players sign in</h2>
    <form action="/names" method="post">
      <ul>
        <li>
          <label for="player_one_name">
            Player 1
            <input type="text" name="player_one">
          </label>
        </li>
        <li>
        <label for="player_two_name">
          Player 2
          <input type="text" name="player_two">
          </label>
        </li>
          <input type="submit" value="Submit">
      </ul>
    </form>
  </body>
</html>