<%= @player_one %><br>

<%= @player_two %> <br>

<form>
  <button type="button">"Attack!"</button>      
  <button type="button">"Paralyse"</button>      
  <button type="button">"Sleep, zzz"</button>      
  <button type="button">"Poison @_@"</button>      
  <button type="button">"Heal <3"</button>      
</form>
